# FastAPI .gitignore template

# Byte-compiled Python files
__pycache__/
*.py[cod]

# Log files
*.log

# Virtual environment
venv/

# FastAPI specific
.fastapi/
.fastapi.db

# IDE and editor files
.vscode/
.idea/
*.iml

# Miscellaneous
*.env
*.secret
.DS_Store
Thumbs.db
.vercel
